.Rproj.user
.Rhistory
.RData
.Ruserdata

.DS_Store

data/appendix_summary.csv

*.html

outputs/*.png

outputs/*.docx

outputs/filled_matrix.csv

outputs/unfilled_matrix.csv

outputs/corr_filled.csv

outputs/corr_unfilled.csv

scraps/*
